h1 {
    color: crimson;
    text-align: center;
}

h3, h4 {
    color: indianred;
    text-align: center;
}

img {
    width: 400px;
    
}

#thirdDiv {
    width: 500px;
    height: 690px;
    background-color: lightsalmon;
    padding: 50px;
    border: darkred 3px solid;
}
#spanId {
    font-size: 25px;
    margin: 50px;
    color: lightcoral;
}

body {
    background-image: url("https://assets.soyhenry.com/logoOG.png");
}
